<h3 id="bib:year-2004" class="bibsonomy_quicknav_group"><a name="2004">2004</a></h3>
<div style="margin-bottom:1em">
<b>Ist automatische Normierung möglich?</b>.<br/>
In: 

<i>Regelwerke für die Sacherschließung: sexy oder uncool? Hrsg. v. Jörn Sieglerschmidt</i>, pages 40-51.
Berlin, 2004.

<br/>
Klaus Lepsky.
<br/>

<a href="http://swop.bsz-bw.de/volltexte/2008/180/">[doi]</a>&nbsp;
<a onclick="toggleAbstract('lepsky', '6ad0ff3ea3527ac22c6b85ce21864623'); return false;" href="https://www.bibsonomy.org/bibtex/26ad0ff3ea3527ac22c6b85ce21864623/lepsky?format=bibtex">[abstract]</a>&nbsp;
<a onclick="toggleBibtex('lepsky', '6ad0ff3ea3527ac22c6b85ce21864623', 'https://www.bibsonomy.org/bibtex/26ad0ff3ea3527ac22c6b85ce21864623/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/26ad0ff3ea3527ac22c6b85ce21864623/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_6ad0ff3ea3527ac22c6b85ce21864623lepsky" style="display:none;border:1px dotted grey;">
Normierung ist allgemein ein nützliches Instrument der formalen und inhaltlichen Dokument- und Medienbeschreibung. Aus diesem Grund werden in der bibliothekarischen Formal- und Inhaltserschlietextbackslashs sung zentrale Beschreibungselemente über sog. Normdateien kontrolliert, die über die Festlegung von Ansetzungsformen die einheitliche Beschreibung sichern, gleichzeitig durch die Bereitstellung von Nicht-Ansetzungsformen (Verweisungsformen) die Suche auch mit nicht bevorzugten Schreibweisen unterstützen (Synonymen). Normierungselemente in der bibliothekarischen Formalerschließung sind Verfassernamen, Körperschaften, in der Inhaltserschließung sind es Schlagwörter. Die gemeinsame Verwendung der Normdateien in Verbindung mit einem einheitlichen Erfassungsstandard (RAK) bzw. einem Quasi-Erschließungsstandard (RSWK) erleichtert die Datenübernahme und führt zu verlässlichen Erschließungs- und Katalogumgebungen.
</div>
<div style="position:relative">						
	<div id="bib_6ad0ff3ea3527ac22c6b85ce21864623lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<!-- 
	This software is distributed under a Creative Commons Attribution 3.0 License
	http://creativecommons.org/licenses/by/3.0/

	*Attribution*
	JavaScript by Mark Schenk, Dominik Benz and Michael Domhardt
	JabRef export filter and css by Michael Domhardt http://mensch-maschine-systemtechnik.de/
	BibSonomy and Typo3 integration by Dominik Benz
	Content by BibSonomy - Lesezeichen und Referenzen teilen - in blau! http://bibsonomy.org/
-->

<script type="text/javascript">
<!--
function toggleAbstract(user,hash) {
	var abs = document.getElementById('abs_'+hash+user);	
	if (abs) {
		if(abs.id.indexOf('abs_') != -1) {
			abs.style.display = ( abs.style.display == 'none' ? '' : 'none' );
		}
	} 
	return;
}

function toggleBibtex(user,hash,biburl) {
    var f = document.getElementById('bib_' + hash + user + '_src');
	if (undefined != f) {
		f.parentNode.removeChild(f);
		return;
	}
	var el = document.getElementById('bib_' + hash + user);
    iframe = document.createElement("iframe");
    iframe.setAttribute("src", biburl);
	iframe.setAttribute("id", 'bib_' + hash + user + '_src');
    iframe.style.width = 500+"px";
    iframe.style.height = 200+"px";
	iframe.style.background = "#eee";
    el.appendChild(iframe);
	return;
}
-->
</script>
