<h3 id="bib:year-1998" class="bibsonomy_quicknav_group"><a name="1998">1998</a></h3>
<div style="margin-bottom:1em">
<b>Semantische Umfeldsuche im Information Retrieval</b>. <br/>
<i>Zeitschrift für Bibliothekswesen und Bibliographie</i>, 45:401-423, 1998.

<br/>
Winfried Gödert and Klaus Lepsky.
<br/>

<a onclick="toggleAbstract('lepsky', '4247893482b0500d2f4135a93adbae17'); return false;" href="https://www.bibsonomy.org/bibtex/24247893482b0500d2f4135a93adbae17/lepsky?format=bibtex">[abstract]</a>&nbsp;
<a onclick="toggleBibtex('lepsky', '4247893482b0500d2f4135a93adbae17', 'https://www.bibsonomy.org/bibtex/24247893482b0500d2f4135a93adbae17/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/24247893482b0500d2f4135a93adbae17/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_4247893482b0500d2f4135a93adbae17lepsky" style="display:none;border:1px dotted grey;">
Sachliche Suchen in bibliothekarischen Online-Katalogen enden häufig mit unbefriedigenden Ergebnissen. Als eine Ursache dafür kann angesehen werden, datextbackslashs s die Gestaltung des Suchprozesses das semantische Umfeld einer Suchanfrage nicht mit einbezieht, datextbackslashs s in Übertragung der Verhältnisse in konventionellen Katalogen am Paradigma des Wort-Matching zwischen Suchwort und Indexat festgehalten wird. Es wird statt dessen das Konzept einer semantischen Umfeldsuche entwickelt und gezeigt, welche Rolle die Verwendung strukturierten Vokabulars dafür spielen kann. Insbesondere wird dargestellt, welche Möglichkeiten Verfahren der wörterbuchgestützten maschinellen Indexierung in diesem Zusammenhang spielen können. Die Ausführungen werden durch Beispiele illustriert.
</div>
<div style="position:relative">						
	<div id="bib_4247893482b0500d2f4135a93adbae17lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Semantische Umfeldsuche im Information Retrieval in Online-Katalogen</b>.<br/>
1998. 
<br/>Winfried Gödert and Klaus Lepsky.
<br/>

<a onclick="toggleAbstract('lepsky', '6bbdf9f8b5f65baddfc50c60fd9b03a9'); return false;" href="https://www.bibsonomy.org/bibtex/26bbdf9f8b5f65baddfc50c60fd9b03a9/lepsky?format=bibtex">[abstract]</a>&nbsp;
<a onclick="toggleBibtex('lepsky', '6bbdf9f8b5f65baddfc50c60fd9b03a9', 'https://www.bibsonomy.org/bibtex/26bbdf9f8b5f65baddfc50c60fd9b03a9/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/26bbdf9f8b5f65baddfc50c60fd9b03a9/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_6bbdf9f8b5f65baddfc50c60fd9b03a9lepsky" style="display:none;border:1px dotted grey;">
Sachliche Suchen in bibliothekarischen Online-Katalogen enden häufig mit unbefriedigenden Ergebnissen. Als eine Ursache dafür kann angesehen werden, daß die Gestaltung des Suchprozesses das semantische Umfeld einer Suchanfrage nicht mit einbezieht, daß in Übertragung der Verhältnisse in konventionellen Katalogen am Paradigma des Wort-Matching zwischen Suchwort und Indexat festgehalten wird. Es wird statt dessen das Konzept einer semantischen Umfeldsuche entwickelt und gezeigt, welche Rolle die Verwendung strukturierten Vokabulars dafür spielen kann. Insbesondere wird dargestellt, welche Möglichkeiten Verfahren der wörterbuchgestützten maschinellen Indexierung in diesem Zusammenhang spielen können. Die Ausführungen werden durch Beispiele illustriert.
</div>
<div style="position:relative">						
	<div id="bib_6bbdf9f8b5f65baddfc50c60fd9b03a9lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<!-- 
	This software is distributed under a Creative Commons Attribution 3.0 License
	http://creativecommons.org/licenses/by/3.0/

	*Attribution*
	JavaScript by Mark Schenk, Dominik Benz and Michael Domhardt
	JabRef export filter and css by Michael Domhardt http://mensch-maschine-systemtechnik.de/
	BibSonomy and Typo3 integration by Dominik Benz
	Content by BibSonomy - Lesezeichen und Referenzen teilen - in blau! http://bibsonomy.org/
-->

<script type="text/javascript">
<!--
function toggleAbstract(user,hash) {
	var abs = document.getElementById('abs_'+hash+user);	
	if (abs) {
		if(abs.id.indexOf('abs_') != -1) {
			abs.style.display = ( abs.style.display == 'none' ? '' : 'none' );
		}
	} 
	return;
}

function toggleBibtex(user,hash,biburl) {
    var f = document.getElementById('bib_' + hash + user + '_src');
	if (undefined != f) {
		f.parentNode.removeChild(f);
		return;
	}
	var el = document.getElementById('bib_' + hash + user);
    iframe = document.createElement("iframe");
    iframe.setAttribute("src", biburl);
	iframe.setAttribute("id", 'bib_' + hash + user + '_src');
    iframe.style.width = 500+"px";
    iframe.style.height = 200+"px";
	iframe.style.background = "#eee";
    el.appendChild(iframe);
	return;
}
-->
</script>
