<h3 id="bib:year-2006" class="bibsonomy_quicknav_group"><a name="2006">2006</a></h3>
<div style="margin-bottom:1em"><b>Das Buchregister : methodische Grundlagen und praktische Anwendung</b>.<br/>
2006. 
<br/>Robert Fugmann.
<br/>
<a href="http://books.google.de/books?id=Vbz3XwAACAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', '51bc2e9ed28b4338b9a3f29d5c9d7eab', 'https://www.bibsonomy.org/bibtex/251bc2e9ed28b4338b9a3f29d5c9d7eab/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/251bc2e9ed28b4338b9a3f29d5c9d7eab/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_51bc2e9ed28b4338b9a3f29d5c9d7eablepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_51bc2e9ed28b4338b9a3f29d5c9d7eablepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-2004" class="bibsonomy_quicknav_group"><a name="2004">2004</a></h3>
<div style="margin-bottom:1em"><b>The history and heritage of scientific and technological information systems : proceedings of the 2002 conference</b>.<br/>
2004. 

<br/>


<a onclick="toggleBibtex('lepsky', '249d6bff1f6d8eab857c8c513babcc54', 'https://www.bibsonomy.org/bibtex/2249d6bff1f6d8eab857c8c513babcc54/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2249d6bff1f6d8eab857c8c513babcc54/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_249d6bff1f6d8eab857c8c513babcc54lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_249d6bff1f6d8eab857c8c513babcc54lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-2000" class="bibsonomy_quicknav_group"><a name="2000">2000</a></h3>
<div style="margin-bottom:1em"><b>Saving the time of the library user through subject access innovation : papers in honor of Pauline Atherton Cochrane</b>.<br/>
2000. 
<br/>William Wheeler and Pauline Cochrane.
<br/>


<a onclick="toggleBibtex('lepsky', 'eea67b161ab36ce95bf6c9a0e496003d', 'https://www.bibsonomy.org/bibtex/2eea67b161ab36ce95bf6c9a0e496003d/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2eea67b161ab36ce95bf6c9a0e496003d/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_eea67b161ab36ce95bf6c9a0e496003dlepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_eea67b161ab36ce95bf6c9a0e496003dlepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1999" class="bibsonomy_quicknav_group"><a name="1999">1999</a></h3>
<div style="margin-bottom:1em"><b>Inhaltserschließung durch Indexieren : Prinzipien und Praxis</b>.<br/>
1999. 
<br/>Robert Fugmann.
<br/>


<a onclick="toggleBibtex('lepsky', '061f62ae7ea8605cb072c37912120166', 'https://www.bibsonomy.org/bibtex/2061f62ae7ea8605cb072c37912120166/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2061f62ae7ea8605cb072c37912120166/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_061f62ae7ea8605cb072c37912120166lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_061f62ae7ea8605cb072c37912120166lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1998" class="bibsonomy_quicknav_group"><a name="1998">1998</a></h3>
<div style="margin-bottom:1em"><b>The DDC, the universe of knowledge, and the post-modern library</b>.<br/>
1998. 
<br/>FL Miksa.
<br/>
<a href="http://books.google.de/books?id=HK1sQgAACAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', '17af3250366c3ef60a765289ad4f7ad8', 'https://www.bibsonomy.org/bibtex/217af3250366c3ef60a765289ad4f7ad8/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/217af3250366c3ef60a765289ad4f7ad8/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_17af3250366c3ef60a765289ad4f7ad8lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_17af3250366c3ef60a765289ad4f7ad8lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Can you recommend a good book on indexing? : collected reviews on the organization of information</b>.<br/>
1998. 
<br/>Bella Weinberg.
<br/>


<a onclick="toggleBibtex('lepsky', '736e553b1bb0aca86273dfce4e45a432', 'https://www.bibsonomy.org/bibtex/2736e553b1bb0aca86273dfce4e45a432/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2736e553b1bb0aca86273dfce4e45a432/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_736e553b1bb0aca86273dfce4e45a432lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_736e553b1bb0aca86273dfce4e45a432lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1994" class="bibsonomy_quicknav_group"><a name="1994">1994</a></h3>
<div style="margin-bottom:1em"><b>Indexing books</b>.<br/>
1994. 
<br/>Nancy Mulvany.
<br/>


<a onclick="toggleBibtex('lepsky', '81c6ed9cd848123b5f7ff093bc58829b', 'https://www.bibsonomy.org/bibtex/281c6ed9cd848123b5f7ff093bc58829b/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/281c6ed9cd848123b5f7ff093bc58829b/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_81c6ed9cd848123b5f7ff093bc58829blepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_81c6ed9cd848123b5f7ff093bc58829blepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1993" class="bibsonomy_quicknav_group"><a name="1993">1993</a></h3>
<div style="margin-bottom:1em"><b>Subject analysis and indexing : theoretical foundation and practical advice</b>.<br/>
1993. 
<br/>Robert Fugmann.
<br/>
<a href="http://books.google.de/books?id=rADhAAAAMAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', '2ae6686125d1f587f6b8ce6c4d8cf1b0', 'https://www.bibsonomy.org/bibtex/22ae6686125d1f587f6b8ce6c4d8cf1b0/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/22ae6686125d1f587f6b8ce6c4d8cf1b0/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_2ae6686125d1f587f6b8ce6c4d8cf1b0lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_2ae6686125d1f587f6b8ce6c4d8cf1b0lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1992" class="bibsonomy_quicknav_group"><a name="1992">1992</a></h3>
<div style="margin-bottom:1em"><b>Theoretische Grundlagen der Indexierungspraxis</b>.<br/>
1992. 
<br/>Robert Fugmann.
<br/>


<a onclick="toggleBibtex('lepsky', 'ec400ea25b65a4d53d06a4c403de6a4e', 'https://www.bibsonomy.org/bibtex/2ec400ea25b65a4d53d06a4c403de6a4e/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2ec400ea25b65a4d53d06a4c403de6a4e/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_ec400ea25b65a4d53d06a4c403de6a4elepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_ec400ea25b65a4d53d06a4c403de6a4elepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1990" class="bibsonomy_quicknav_group"><a name="1990">1990</a></h3>
<div style="margin-bottom:1em"><b>Tools for knowledge organization and the human interface: proceedings : 1st International ISKO-Conference, Darmstadt, 14-17 August, 1990. Vol. 1 u. Vol. 2</b>.<br/>
1990. 

<br/>
<a href="http://books.google.de/books?id=u8DjAAAAMAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', 'd90d8b16a20b300a67ee1d068e9fcfb9', 'https://www.bibsonomy.org/bibtex/2d90d8b16a20b300a67ee1d068e9fcfb9/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2d90d8b16a20b300a67ee1d068e9fcfb9/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_d90d8b16a20b300a67ee1d068e9fcfb9lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_d90d8b16a20b300a67ee1d068e9fcfb9lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1989" class="bibsonomy_quicknav_group"><a name="1989">1989</a></h3>
<div style="margin-bottom:1em"><b>Elements of library classification</b>.<br/>
1989. 
<br/>Shiyali Ramamrita Ranganathan.
<br/>


<a onclick="toggleBibtex('lepsky', '2abae1f158cad5964099b51bc3386e75', 'https://www.bibsonomy.org/bibtex/22abae1f158cad5964099b51bc3386e75/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/22abae1f158cad5964099b51bc3386e75/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_2abae1f158cad5964099b51bc3386e75lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_2abae1f158cad5964099b51bc3386e75lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Indexing : the state of our knowledge and the state of our ignorance : proceedings of the 20th Annual Meeting of the American Society of Indexers, New York City, May 13, 1988</b>.<br/>
1989. 

<br/>
<a href="http://books.google.de/books?id=GUqdQxKHBCcC">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', 'd3e4f7b1bbaee855d6d1c2063c1b6353', 'https://www.bibsonomy.org/bibtex/2d3e4f7b1bbaee855d6d1c2063c1b6353/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2d3e4f7b1bbaee855d6d1c2063c1b6353/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_d3e4f7b1bbaee855d6d1c2063c1b6353lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_d3e4f7b1bbaee855d6d1c2063c1b6353lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Klassifikation und Ordnung : Tagungsband 12. Jahrestagung der Gesellschaft für Klassifikation e.V., Darmstadt, 17.-19. März 1988</b>.<br/>
1989. 

<br/>


<a onclick="toggleBibtex('lepsky', 'c8d03fdfde2a73f997b0a530c0cf6f74', 'https://www.bibsonomy.org/bibtex/2c8d03fdfde2a73f997b0a530c0cf6f74/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2c8d03fdfde2a73f997b0a530c0cf6f74/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_c8d03fdfde2a73f997b0a530c0cf6f74lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_c8d03fdfde2a73f997b0a530c0cf6f74lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1988" class="bibsonomy_quicknav_group"><a name="1988">1988</a></h3>
<div style="margin-bottom:1em"><b>Wissensorganisation im Wandel : Dezimalklassifikation, Thesaurusfragen, Warenklassifikation : Proceedings, 11. Jahrestagung der Gesellschaft für Klassifikation, Aachen, 29. Juni-1. Juli 1987</b>.<br/>
1988. 

<br/>


<a onclick="toggleBibtex('lepsky', '0e6ce079935ef17d203112a0c4e5b37f', 'https://www.bibsonomy.org/bibtex/20e6ce079935ef17d203112a0c4e5b37f/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/20e6ce079935ef17d203112a0c4e5b37f/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_0e6ce079935ef17d203112a0c4e5b37flepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_0e6ce079935ef17d203112a0c4e5b37flepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1986" class="bibsonomy_quicknav_group"><a name="1986">1986</a></h3>
<div style="margin-bottom:1em"><b>Thesaurus Construction : a practical manual ; information retrieval, index languages, thesauri, classification systems, searching, information services</b>.<br/>
1986. 
<br/>Jean Aitchison and Alan Gilchrist.
<br/>


<a onclick="toggleBibtex('lepsky', 'd0843dcda7a4a20cdb6019624f8f6b0f', 'https://www.bibsonomy.org/bibtex/2d0843dcda7a4a20cdb6019624f8f6b0f/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2d0843dcda7a4a20cdb6019624f8f6b0f/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_d0843dcda7a4a20cdb6019624f8f6b0flepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_d0843dcda7a4a20cdb6019624f8f6b0flepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Klassifikation als Werkzeug der Lehre und Forschung : [Vorträge d. 7. u. 9. Jahrestagung d. Ges. für Klassifikation in Königswinter 1983 u. in Karlsruhe 1985]</b>.<br/>
1986. 

<br/>


<a onclick="toggleBibtex('lepsky', '58d7d0b3d09aef5f4f8b627f292b1119', 'https://www.bibsonomy.org/bibtex/258d7d0b3d09aef5f4f8b627f292b1119/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/258d7d0b3d09aef5f4f8b627f292b1119/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_58d7d0b3d09aef5f4f8b627f292b1119lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_58d7d0b3d09aef5f4f8b627f292b1119lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Die Klassifikation und ihr Umfeld = Classification and its environment : proceedings, 10. Jahrestagung der Gesellschaft für Klassifikation e.V., Münster W, 18.-21. Juni 1986</b>.<br/>
1986. 

<br/>


<a onclick="toggleBibtex('lepsky', '2fe1e6738a099a81a7fa9e52b773aa1c', 'https://www.bibsonomy.org/bibtex/22fe1e6738a099a81a7fa9e52b773aa1c/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/22fe1e6738a099a81a7fa9e52b773aa1c/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_2fe1e6738a099a81a7fa9e52b773aa1clepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_2fe1e6738a099a81a7fa9e52b773aa1clepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Vocabulary control for information retrieval</b>.<br/>
1986. 
<br/>Wilfrid Lancaster.
<br/>


<a onclick="toggleBibtex('lepsky', '432694a4f8ce090eeaa1090ba5073dc0', 'https://www.bibsonomy.org/bibtex/2432694a4f8ce090eeaa1090ba5073dc0/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2432694a4f8ce090eeaa1090ba5073dc0/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_432694a4f8ce090eeaa1090ba5073dc0lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_432694a4f8ce090eeaa1090ba5073dc0lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1985" class="bibsonomy_quicknav_group"><a name="1985">1985</a></h3>
<div style="margin-bottom:1em"><b>Die Grenzen künstlicher Intelligenz : was Computer nicht können</b>.<br/>
1985. 
<br/>HL Dreyfus.
<br/>
<a href="http://books.google.de/books?id=H6oyAgAACAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', '63a26dbc9cd20a1d4ec99a8c669085fe', 'https://www.bibsonomy.org/bibtex/263a26dbc9cd20a1d4ec99a8c669085fe/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/263a26dbc9cd20a1d4ec99a8c669085fe/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_63a26dbc9cd20a1d4ec99a8c669085felepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_63a26dbc9cd20a1d4ec99a8c669085felepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Anwendungen in der Klassifikation : proceedings 8. Jahrestagung der Gesellschaft für Klassifikation e.V., Hofgeismar, 10. - 13. April 1984</b>.<br/>
1985. 

<br/>


<a onclick="toggleBibtex('lepsky', '13923c3ee789462e83541cdcae68c688', 'https://www.bibsonomy.org/bibtex/213923c3ee789462e83541cdcae68c688/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/213923c3ee789462e83541cdcae68c688/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_13923c3ee789462e83541cdcae68c688lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_13923c3ee789462e83541cdcae68c688lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Information system design and management</b>.<br/>
1985. 
<br/>Peter Lazar and Sarada Science.
<br/>


<a onclick="toggleBibtex('lepsky', 'f1278a9b2030b69c29b5b3db4a23ab8f', 'https://www.bibsonomy.org/bibtex/2f1278a9b2030b69c29b5b3db4a23ab8f/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2f1278a9b2030b69c29b5b3db4a23ab8f/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_f1278a9b2030b69c29b5b3db4a23ab8flepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_f1278a9b2030b69c29b5b3db4a23ab8flepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Organizing information : principles of data base and retrieval systems.</b>.<br/>
1985. 
<br/>Dagobert Soergel.
<br/>


<a onclick="toggleBibtex('lepsky', 'b23d72c782bfa287451aeff9db62090f', 'https://www.bibsonomy.org/bibtex/2b23d72c782bfa287451aeff9db62090f/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2b23d72c782bfa287451aeff9db62090f/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_b23d72c782bfa287451aeff9db62090flepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_b23d72c782bfa287451aeff9db62090flepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1984" class="bibsonomy_quicknav_group"><a name="1984">1984</a></h3>
<div style="margin-bottom:1em"><b>Information und Ordnung</b>.<br/>
1984. 

<br/>


<a onclick="toggleBibtex('lepsky', 'd9fde96ae1f9f44431c5ee5e444fe74d', 'https://www.bibsonomy.org/bibtex/2d9fde96ae1f9f44431c5ee5e444fe74d/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2d9fde96ae1f9f44431c5ee5e444fe74d/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_d9fde96ae1f9f44431c5ee5e444fe74dlepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_d9fde96ae1f9f44431c5ee5e444fe74dlepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1983" class="bibsonomy_quicknav_group"><a name="1983">1983</a></h3>
<div style="margin-bottom:1em"><b>Automatisierung in der Klassifikation : Proceedings, 7. Jahrestagung der Gesellschaft für Klassifikation, Königswinter Rhein, 5.-8. April 1983</b>.<br/>
1983. 

<br/>


<a onclick="toggleBibtex('lepsky', '0d050e8d123bdf304b84cf542fe7b802', 'https://www.bibsonomy.org/bibtex/20d050e8d123bdf304b84cf542fe7b802/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/20d050e8d123bdf304b84cf542fe7b802/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_0d050e8d123bdf304b84cf542fe7b802lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_0d050e8d123bdf304b84cf542fe7b802lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>The analytico synthetic foundation for large indexing and information retrieval systems</b>.<br/>
1983. 
<br/>Robert Fugmann.
<br/>
<a href="http://books.google.de/books?id=c44aAAAAMAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', 'dadc9d8eb644bbd3cf2c5c665f0c2eda', 'https://www.bibsonomy.org/bibtex/2dadc9d8eb644bbd3cf2c5c665f0c2eda/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2dadc9d8eb644bbd3cf2c5c665f0c2eda/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_dadc9d8eb644bbd3cf2c5c665f0c2edalepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_dadc9d8eb644bbd3cf2c5c665f0c2edalepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Universal classification : subject analysis and ordering systems</b>.<br/>
1983. 

<br/>


<a onclick="toggleBibtex('lepsky', '207cc20296203b51728ded49c7b2ac13', 'https://www.bibsonomy.org/bibtex/2207cc20296203b51728ded49c7b2ac13/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2207cc20296203b51728ded49c7b2ac13/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_207cc20296203b51728ded49c7b2ac13lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_207cc20296203b51728ded49c7b2ac13lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1982" class="bibsonomy_quicknav_group"><a name="1982">1982</a></h3>
<div style="margin-bottom:1em"><b>Universal classification : subject analysis and ordering systems</b>.<br/>
1982. 

<br/>


<a onclick="toggleBibtex('lepsky', '7f2fc01747f681351649fe7dff6ec140', 'https://www.bibsonomy.org/bibtex/27f2fc01747f681351649fe7dff6ec140/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/27f2fc01747f681351649fe7dff6ec140/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_7f2fc01747f681351649fe7dff6ec140lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_7f2fc01747f681351649fe7dff6ec140lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Numerische und nicht-numerische Klassifikation zwischen Theorie  Praxis : Proceedings der 5. Fachtagung der Gesellschaft für Klassifikation e.V. Hofgeismar, 7.-10. April 1981</b>.<br/>
1982. 

<br/>


<a onclick="toggleBibtex('lepsky', '91465e82c9d52657e8c99c10b297f6ee', 'https://www.bibsonomy.org/bibtex/291465e82c9d52657e8c99c10b297f6ee/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/291465e82c9d52657e8c99c10b297f6ee/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_91465e82c9d52657e8c99c10b297f6eelepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_91465e82c9d52657e8c99c10b297f6eelepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1980" class="bibsonomy_quicknav_group"><a name="1980">1980</a></h3>
<div style="margin-bottom:1em"><b>Wissensstrukturen und Ordnungsmuster : Proceedings der 4. Fachtagung der Gesellschaft für Klassifikation e.V., Salzburg 16.-19. April 1980</b>.<br/>
1980. 

<br/>


<a onclick="toggleBibtex('lepsky', 'b136f09871d3d319c6e631d6e7368023', 'https://www.bibsonomy.org/bibtex/2b136f09871d3d319c6e631d6e7368023/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2b136f09871d3d319c6e631d6e7368023/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_b136f09871d3d319c6e631d6e7368023lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_b136f09871d3d319c6e631d6e7368023lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Datenbanken, Datenbasen, Netzwerke : Praxis des Information Retrieval ; Band 3: Nutzung und Bewertung von Retrievalsystemen</b>.<br/>
1980. 

<br/>


<a onclick="toggleBibtex('lepsky', 'ea2b6535d88ad29cdb6fcc0c70f99784', 'https://www.bibsonomy.org/bibtex/2ea2b6535d88ad29cdb6fcc0c70f99784/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2ea2b6535d88ad29cdb6fcc0c70f99784/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_ea2b6535d88ad29cdb6fcc0c70f99784lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_ea2b6535d88ad29cdb6fcc0c70f99784lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Grundlagen der praktischen Information und Dokumentation</b>.<br/>
1980. 

<br/>


<a onclick="toggleBibtex('lepsky', '13d0981b5b4e7302c95fe30dcbaf3014', 'https://www.bibsonomy.org/bibtex/213d0981b5b4e7302c95fe30dcbaf3014/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/213d0981b5b4e7302c95fe30dcbaf3014/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_13d0981b5b4e7302c95fe30dcbaf3014lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_13d0981b5b4e7302c95fe30dcbaf3014lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1979" class="bibsonomy_quicknav_group"><a name="1979">1979</a></h3>
<div style="margin-bottom:1em"><b>Klassifikation und Erkenntnis III : Vorträge und Diskussionen zur "Numerischen Klassifikation" bei der 3. Fachtagung der Gesellschaft für Klassifikation e.V. Königstein/Taunus, 4.-6.4.1979</b>.<br/>
1979. 

<br/>


<a onclick="toggleBibtex('lepsky', '6c3759f76aee26ad232a541d744f852d', 'https://www.bibsonomy.org/bibtex/26c3759f76aee26ad232a541d744f852d/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/26c3759f76aee26ad232a541d744f852d/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_6c3759f76aee26ad232a541d744f852dlepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_6c3759f76aee26ad232a541d744f852dlepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Klassifikation und Erkenntnis I : Proceedings der Plenarvorträge und der Sektion 1 "Klassifikation und Wissensgewinnung" der 3. Fachtagung der Gesellschaft für Klassifikation e.V. Königstein/Taunus, 5.-6.4. 1979</b>.<br/>
1979. 

<br/>


<a onclick="toggleBibtex('lepsky', 'b5159b30a4a41c7ae763847ea145c461', 'https://www.bibsonomy.org/bibtex/2b5159b30a4a41c7ae763847ea145c461/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2b5159b30a4a41c7ae763847ea145c461/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_b5159b30a4a41c7ae763847ea145c461lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_b5159b30a4a41c7ae763847ea145c461lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Klassifikation und Erkenntnis II : Proceedings der Sektionen 2 und 3 "Wissensdarstellung und Wissensvermittlung" der 3. Fachtagung der Gesellschaft für Klassifikation e.V. Königstein/Taunus, 5.-6.4. 1979</b>.<br/>
1979. 

<br/>


<a onclick="toggleBibtex('lepsky', 'e8ef1a864ade45061e0aac3aebbb2d42', 'https://www.bibsonomy.org/bibtex/2e8ef1a864ade45061e0aac3aebbb2d42/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2e8ef1a864ade45061e0aac3aebbb2d42/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_e8ef1a864ade45061e0aac3aebbb2d42lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_e8ef1a864ade45061e0aac3aebbb2d42lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Guide to information science</b>.<br/>
1979. 
<br/>Charles Davis and James Rush.
<br/>


<a onclick="toggleBibtex('lepsky', 'd652ae8024c63165d85bb30d6106a2fb', 'https://www.bibsonomy.org/bibtex/2d652ae8024c63165d85bb30d6106a2fb/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2d652ae8024c63165d85bb30d6106a2fb/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_d652ae8024c63165d85bb30d6106a2fblepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_d652ae8024c63165d85bb30d6106a2fblepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Datenbanken, Datenbasen, Netzwerke : Praxis des Information Retrieval ; Band 1 ; Aufbau von Datenbasen</b>.<br/>
1979. 

<br/>


<a onclick="toggleBibtex('lepsky', '70371bedf1a785285ad167e53725cc08', 'https://www.bibsonomy.org/bibtex/270371bedf1a785285ad167e53725cc08/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/270371bedf1a785285ad167e53725cc08/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_70371bedf1a785285ad167e53725cc08lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_70371bedf1a785285ad167e53725cc08lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Datenbanken, Datenbasen, Netzwerke : Praxis des Information Retrieval ; Band 2 ; Konzepte von Datenbanken</b>.<br/>
1979. 

<br/>


<a onclick="toggleBibtex('lepsky', '5f91e4b61233730a3e0e9fca06bf0f6f', 'https://www.bibsonomy.org/bibtex/25f91e4b61233730a3e0e9fca06bf0f6f/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/25f91e4b61233730a3e0e9fca06bf0f6f/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_5f91e4b61233730a3e0e9fca06bf0f6flepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_5f91e4b61233730a3e0e9fca06bf0f6flepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1978" class="bibsonomy_quicknav_group"><a name="1978">1978</a></h3>
<div style="margin-bottom:1em"><b>Indexing concepts and methods</b>.<br/>
1978. 
<br/>Harold Borko and Charles Bernier.
<br/>


<a onclick="toggleBibtex('lepsky', '5a58eae94042587edf23a815b3d5969a', 'https://www.bibsonomy.org/bibtex/25a58eae94042587edf23a815b3d5969a/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/25a58eae94042587edf23a815b3d5969a/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_5a58eae94042587edf23a815b3d5969alepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_5a58eae94042587edf23a815b3d5969alepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1977" class="bibsonomy_quicknav_group"><a name="1977">1977</a></h3>
<div style="margin-bottom:1em"><b>Prinzipien der Klassifikation : Proceeedings der 1. Fachtagung der Gesellschaft für Klassifikation. Münster/Westf., 4. Juni 1977</b>.<br/>
1977. 

<br/>


<a onclick="toggleBibtex('lepsky', 'c2a26506ae41b55a021f615bfc68f0bd', 'https://www.bibsonomy.org/bibtex/2c2a26506ae41b55a021f615bfc68f0bd/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2c2a26506ae41b55a021f615bfc68f0bd/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_c2a26506ae41b55a021f615bfc68f0bdlepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_c2a26506ae41b55a021f615bfc68f0bdlepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Ordnung und Wortschatz des Wissens : Entwurf zu einem Überblick über das menschliche Wissen auf der Grundlage der Wörter ; Band I: Das Ordnungssystem Universelle Facetten-Klassifkation (UFC)</b>.<br/>
1977. 
<br/>Martin Scheele.
<br/>


<a onclick="toggleBibtex('lepsky', '9ba431627fb1a72f5462fd1875f11a4b', 'https://www.bibsonomy.org/bibtex/29ba431627fb1a72f5462fd1875f11a4b/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/29ba431627fb1a72f5462fd1875f11a4b/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_9ba431627fb1a72f5462fd1875f11a4blepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_9ba431627fb1a72f5462fd1875f11a4blepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1976" class="bibsonomy_quicknav_group"><a name="1976">1976</a></h3>
<div style="margin-bottom:1em"><b>A glossary of indexing terms</b>.<br/>
1976. 
<br/>Brian Buchanan.
<br/>
<a href="http://books.google.de/books?id=rlkZAAAAMAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', '2d2664d969f5c2b821806a696475cb00', 'https://www.bibsonomy.org/bibtex/22d2664d969f5c2b821806a696475cb00/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/22d2664d969f5c2b821806a696475cb00/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_2d2664d969f5c2b821806a696475cb00lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_2d2664d969f5c2b821806a696475cb00lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Wider den Methodenzwang</b>.<br/>
1976. 
<br/>Paul Feyerabend.
<br/>


<a onclick="toggleBibtex('lepsky', 'b7e2af7060d8e6ba0094aa9f837ed2c4', 'https://www.bibsonomy.org/bibtex/2b7e2af7060d8e6ba0094aa9f837ed2c4/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2b7e2af7060d8e6ba0094aa9f837ed2c4/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_b7e2af7060d8e6ba0094aa9f837ed2c4lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_b7e2af7060d8e6ba0094aa9f837ed2c4lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Wissenschaft und Information : systemische Grundlagen einer Theorie der Wissenschaftsentwicklung ; Band 2 ; Erkenntnis als Informationsprozess</b>.<br/>
1976. 
<br/>Erhard Oeser.
<br/>


<a onclick="toggleBibtex('lepsky', '9bc8115f1927e9e610a6ce20d987d304', 'https://www.bibsonomy.org/bibtex/29bc8115f1927e9e610a6ce20d987d304/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/29bc8115f1927e9e610a6ce20d987d304/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_9bc8115f1927e9e610a6ce20d987d304lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_9bc8115f1927e9e610a6ce20d987d304lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1973" class="bibsonomy_quicknav_group"><a name="1973">1973</a></h3>
<div style="margin-bottom:1em"><b>Information systems</b>.<br/>
1973. 
<br/>Brian C. Vickery.
<br/>


<a onclick="toggleBibtex('lepsky', 'ab6c8b4470f3bb1f25cb881d1027ea86', 'https://www.bibsonomy.org/bibtex/2ab6c8b4470f3bb1f25cb881d1027ea86/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2ab6c8b4470f3bb1f25cb881d1027ea86/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_ab6c8b4470f3bb1f25cb881d1027ea86lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_ab6c8b4470f3bb1f25cb881d1027ea86lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1972" class="bibsonomy_quicknav_group"><a name="1972">1972</a></h3>
<div style="margin-bottom:1em"><b>Thesaurus construction : a practical manual</b>.<br/>
1972. 
<br/>Jean Aitchison and Alan Gilchrist.
<br/>


<a onclick="toggleBibtex('lepsky', '11afcb18aec9d6c54c1b9e0512a12e2c', 'https://www.bibsonomy.org/bibtex/211afcb18aec9d6c54c1b9e0512a12e2c/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/211afcb18aec9d6c54c1b9e0512a12e2c/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_11afcb18aec9d6c54c1b9e0512a12e2clepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_11afcb18aec9d6c54c1b9e0512a12e2clepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1969" class="bibsonomy_quicknav_group"><a name="1969">1969</a></h3>
<div style="margin-bottom:1em"><b>Grundlagen und Anwendungen der Informationstheorie</b>.<br/>
1969. 
<br/>W Meyer-Eppler, G Heike and K Löhn.
<br/>


<a onclick="toggleBibtex('lepsky', '21a1efca45461287dd22330485109f0a', 'https://www.bibsonomy.org/bibtex/221a1efca45461287dd22330485109f0a/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/221a1efca45461287dd22330485109f0a/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_21a1efca45461287dd22330485109f0alepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_21a1efca45461287dd22330485109f0alepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1967" class="bibsonomy_quicknav_group"><a name="1967">1967</a></h3>
<div style="margin-bottom:1em"><b>Logik : ein Lehrbuch ; mit einem kurzen Abriss über Logistik</b>.<br/>
1967. 
<br/>Johann Fischl.
<br/>


<a onclick="toggleBibtex('lepsky', 'e93291737c10fb5b0a955b79d8319ea1', 'https://www.bibsonomy.org/bibtex/2e93291737c10fb5b0a955b79d8319ea1/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2e93291737c10fb5b0a955b79d8319ea1/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_e93291737c10fb5b0a955b79d8319ea1lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_e93291737c10fb5b0a955b79d8319ea1lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1966" class="bibsonomy_quicknav_group"><a name="1966">1966</a></h3>
<div style="margin-bottom:1em"><b>An introduction to Colon Classification</b>.<br/>
1966. 
<br/>Charles David Batty.
<br/>


<a onclick="toggleBibtex('lepsky', 'aea323f786b50f70917ea16ef1c4fbd3', 'https://www.bibsonomy.org/bibtex/2aea323f786b50f70917ea16ef1c4fbd3/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2aea323f786b50f70917ea16ef1c4fbd3/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_aea323f786b50f70917ea16ef1c4fbd3lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_aea323f786b50f70917ea16ef1c4fbd3lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1965" class="bibsonomy_quicknav_group"><a name="1965">1965</a></h3>
<div style="margin-bottom:1em"><b>Einführung in die Sprache der Logik</b>.<br/>
1965. 
<br/>Hans Freudenthal.
<br/>


<a onclick="toggleBibtex('lepsky', '4fdf0fc84ca0806e2f77222bc42ef2a2', 'https://www.bibsonomy.org/bibtex/24fdf0fc84ca0806e2f77222bc42ef2a2/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/24fdf0fc84ca0806e2f77222bc42ef2a2/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_4fdf0fc84ca0806e2f77222bc42ef2a2lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_4fdf0fc84ca0806e2f77222bc42ef2a2lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>The Colon Classification</b>.<br/>
1965. 
<br/>Shiyali Ramamrita Ranganathan.
<br/>


<a onclick="toggleBibtex('lepsky', '13f6edd00b203e89d858c2c8e69eef21', 'https://www.bibsonomy.org/bibtex/213f6edd00b203e89d858c2c8e69eef21/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/213f6edd00b203e89d858c2c8e69eef21/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_13f6edd00b203e89d858c2c8e69eef21lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_13f6edd00b203e89d858c2c8e69eef21lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>On retrieval system theory</b>.<br/>
1965. 
<br/>Brian C. Vickery.
<br/>


<a onclick="toggleBibtex('lepsky', 'b5bf388bfeed6f95d46da9aee2ca737e', 'https://www.bibsonomy.org/bibtex/2b5bf388bfeed6f95d46da9aee2ca737e/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2b5bf388bfeed6f95d46da9aee2ca737e/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_b5bf388bfeed6f95d46da9aee2ca737elepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_b5bf388bfeed6f95d46da9aee2ca737elepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1964" class="bibsonomy_quicknav_group"><a name="1964">1964</a></h3>
<div style="margin-bottom:1em"><b>Language and information : selected essays on their theory and application.</b>.<br/>
1964. 
<br/>Yehoshua Bar-Hillel.
<br/>


<a onclick="toggleBibtex('lepsky', '8c153913daa11d8a25be7326e6dff3f4', 'https://www.bibsonomy.org/bibtex/28c153913daa11d8a25be7326e6dff3f4/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/28c153913daa11d8a25be7326e6dff3f4/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_8c153913daa11d8a25be7326e6dff3f4lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_8c153913daa11d8a25be7326e6dff3f4lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Indian standard glossary of classification terms</b>.<br/>
1964. 
<br/>Indian Committee.
<br/>
<a href="http://books.google.de/books?id=kzW6AAAAIAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', 'e0472142127addd1460823292906e8cb', 'https://www.bibsonomy.org/bibtex/2e0472142127addd1460823292906e8cb/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2e0472142127addd1460823292906e8cb/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_e0472142127addd1460823292906e8cblepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_e0472142127addd1460823292906e8cblepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Classified Catalogue Code : with additional rules for dictionary catalogue code</b>.<br/>
1964. 
<br/>Shiyali Ramamrita Ranganathan.
<br/>


<a onclick="toggleBibtex('lepsky', '58f471d547411e9cca0353c5579cd217', 'https://www.bibsonomy.org/bibtex/258f471d547411e9cca0353c5579cd217/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/258f471d547411e9cca0353c5579cd217/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_58f471d547411e9cca0353c5579cd217lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_58f471d547411e9cca0353c5579cd217lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Classification research</b>.<br/>
1964. 
<br/>International Study Conference on Classification Research, International Federation for Documentation, Committee on Classification Research and Dansk Dokumentation.
<br/>


<a onclick="toggleBibtex('lepsky', '6e42312135fac3faa1695bd4960b54a1', 'https://www.bibsonomy.org/bibtex/26e42312135fac3faa1695bd4960b54a1/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/26e42312135fac3faa1695bd4960b54a1/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_6e42312135fac3faa1695bd4960b54a1lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_6e42312135fac3faa1695bd4960b54a1lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1962" class="bibsonomy_quicknav_group"><a name="1962">1962</a></h3>
<div style="margin-bottom:1em"><b>Elements of library classification</b>.<br/>
1962. 
<br/>Shiyali Ramamrita Ranganathan.
<br/>


<a onclick="toggleBibtex('lepsky', '337882975d0489b5d0d8e6c59de7ce24', 'https://www.bibsonomy.org/bibtex/2337882975d0489b5d0d8e6c59de7ce24/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2337882975d0489b5d0d8e6c59de7ce24/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_337882975d0489b5d0d8e6c59de7ce24lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_337882975d0489b5d0d8e6c59de7ce24lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1961" class="bibsonomy_quicknav_group"><a name="1961">1961</a></h3>
<div style="margin-bottom:1em"><b>Towards information retrieval</b>.<br/>
1961. 
<br/>Robert Arthur Fairthorne.
<br/>


<a onclick="toggleBibtex('lepsky', '76044722c62bee820a2e26588138ffab', 'https://www.bibsonomy.org/bibtex/276044722c62bee820a2e26588138ffab/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/276044722c62bee820a2e26588138ffab/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_76044722c62bee820a2e26588138ffablepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_76044722c62bee820a2e26588138ffablepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>The fundamentals of library classification</b>.<br/>
1961. 
<br/>BI Palmer and AJ Wells.
<br/>
<a href="http://books.google.de/books?id=1FqcuAAACAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', 'a904b528f4e79c574c8286ffc8a91045', 'https://www.bibsonomy.org/bibtex/2a904b528f4e79c574c8286ffc8a91045/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2a904b528f4e79c574c8286ffc8a91045/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_a904b528f4e79c574c8286ffc8a91045lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_a904b528f4e79c574c8286ffc8a91045lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1960" class="bibsonomy_quicknav_group"><a name="1960">1960</a></h3>
<div style="margin-bottom:1em"><b>Library manual : for library authorities, librarians and honorary library workers</b>.<br/>
1960. 
<br/>Shiyali Ramamrita Ranganathan.
<br/>


<a onclick="toggleBibtex('lepsky', '438748011bd7b372088ac161428d6431', 'https://www.bibsonomy.org/bibtex/2438748011bd7b372088ac161428d6431/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2438748011bd7b372088ac161428d6431/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_438748011bd7b372088ac161428d6431lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_438748011bd7b372088ac161428d6431lepsky" style="display:inline;position:absolute;"></div>
</div></div>

<div style="margin-bottom:1em"><b>Faceted classification : a guide to construction and use of special schemes</b>.<br/>
1960. 
<br/>Brian C. Vickery.
<br/>


<a onclick="toggleBibtex('lepsky', '474acfc0e0986f1de0a969937901e86e', 'https://www.bibsonomy.org/bibtex/2474acfc0e0986f1de0a969937901e86e/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2474acfc0e0986f1de0a969937901e86e/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_474acfc0e0986f1de0a969937901e86elepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_474acfc0e0986f1de0a969937901e86elepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1959" class="bibsonomy_quicknav_group"><a name="1959">1959</a></h3>
<div style="margin-bottom:1em"><b>Classification and Indexing in Science</b>.<br/>
1959. 
<br/>Brian C. Vickery.
<br/>
<a href="http://books.google.de/books?id=6AL3MgEACAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', 'bc43a0a89944fdf83caf08e056dd2653', 'https://www.bibsonomy.org/bibtex/2bc43a0a89944fdf83caf08e056dd2653/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2bc43a0a89944fdf83caf08e056dd2653/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_bc43a0a89944fdf83caf08e056dd2653lepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_bc43a0a89944fdf83caf08e056dd2653lepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1957" class="bibsonomy_quicknav_group"><a name="1957">1957</a></h3>
<div style="margin-bottom:1em"><b>Prolegomena to library classification</b>.<br/>
1957. 
<br/>Shiyali Ramamrita Ranganathan.
<br/>


<a onclick="toggleBibtex('lepsky', '29f7f1a310f7dae35c293519f4af3beb', 'https://www.bibsonomy.org/bibtex/229f7f1a310f7dae35c293519f4af3beb/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/229f7f1a310f7dae35c293519f4af3beb/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_29f7f1a310f7dae35c293519f4af3beblepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_29f7f1a310f7dae35c293519f4af3beblepsky" style="display:inline;position:absolute;"></div>
</div></div>
<h3 id="bib:year-1949" class="bibsonomy_quicknav_group"><a name="1949">1949</a></h3>
<div style="margin-bottom:1em"><b>Grundzüge einer Metaphysik der Erkenntnis</b>.<br/>
1949. 
<br/>Nikolai Hartmann.
<br/>
<a href="http://books.google.de/books?id=2-EZAAAAMAAJ">[doi]</a>&nbsp;

<a onclick="toggleBibtex('lepsky', 'c6b0911508f4243ceef3c66ded87417a', 'https://www.bibsonomy.org/bibtex/2c6b0911508f4243ceef3c66ded87417a/lepsky?format=bibtex'); return false;" href="https://www.bibsonomy.org/bibtex/2c6b0911508f4243ceef3c66ded87417a/lepsky?format=bibtex">[BibTeX]</a>&nbsp;
<div id="abs_c6b0911508f4243ceef3c66ded87417alepsky" style="display:none;border:1px dotted grey;">

</div>
<div style="position:relative">						
	<div id="bib_c6b0911508f4243ceef3c66ded87417alepsky" style="display:inline;position:absolute;"></div>
</div></div>
<!-- 
	This software is distributed under a Creative Commons Attribution 3.0 License
	http://creativecommons.org/licenses/by/3.0/

	*Attribution*
	JavaScript by Mark Schenk, Dominik Benz and Michael Domhardt
	JabRef export filter and css by Michael Domhardt http://mensch-maschine-systemtechnik.de/
	BibSonomy and Typo3 integration by Dominik Benz
	Content by BibSonomy - Lesezeichen und Referenzen teilen - in blau! http://bibsonomy.org/
-->

<script type="text/javascript">
<!--
function toggleAbstract(user,hash) {
	var abs = document.getElementById('abs_'+hash+user);	
	if (abs) {
		if(abs.id.indexOf('abs_') != -1) {
			abs.style.display = ( abs.style.display == 'none' ? '' : 'none' );
		}
	} 
	return;
}

function toggleBibtex(user,hash,biburl) {
    var f = document.getElementById('bib_' + hash + user + '_src');
	if (undefined != f) {
		f.parentNode.removeChild(f);
		return;
	}
	var el = document.getElementById('bib_' + hash + user);
    iframe = document.createElement("iframe");
    iframe.setAttribute("src", biburl);
	iframe.setAttribute("id", 'bib_' + hash + user + '_src');
    iframe.style.width = 500+"px";
    iframe.style.height = 200+"px";
	iframe.style.background = "#eee";
    el.appendChild(iframe);
	return;
}
-->
</script>
