<!-- Reading some variables, possibly changing up the hero's appearance -->
<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <!-- If the currently displayed page is a project detail view, don't just 
            display the page title inside the hero regularly. Instead,
            if it's a detail page and the project's title consists of a 
            project abbreviation and a full title (always contains " - "),
            only show the abbreviation in the hero. Otherwise, show full title. -->
            {% if page.url contains "projects" %}
                {% unless page.url contains "projects.html" %}
                    {% if page.title contains " - " %}
                        {% assign title_array = page.title | split: " - " %}
                        {% assign cropped_title = title_array[0] %}
                    {% else %}
                        <h1 class="title is-2">{{ page.title }}</h1>
                    {% endif %}
                    <h1 class="title is-2">{{ cropped_title }}</h1>
                {% else %}
                    <h1 class="title is-2">{{ page.title }}</h1>
                {% endunless %}
            {% else %}
                <h1 class="title is-2">{{ page.title }}</h1>
            {% endif %}
            <p class="subtitle is-3">{{ page.subtitle }}</p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>
    </div>
</section>
<span id="hero-copyright" class="is-size-7">© Raimond Spekking / <a class="external" href="https://creativecommons.org/licenses/by-sa/4.0/deed">CC BY-SA 4.0 (via Wikimedia Commons)</a></span>
