<p class="toggle main-toggle">- Show filters -</p>
<div class="filter-container">
    <div class="filters">
        {% assign all_tags = "" %}
        {% assign all_names = "" %}
        {% for project in site.projects %}
            {% for category in project.research-areas %}
                {% assign all_tags = all_tags | append: category.tag | append: ";" %}
                {% assign all_names = all_names | append: category.name | append: ";" %}
            {% endfor %}
        {% endfor %}
        {% assign all_tags = all_tags | split: ";" %}
        {% assign all_names = all_names | split: ";" %}
        {% assign all_tags = all_tags | uniq %}
        {% assign all_names = all_names | uniq %}
        {% if site.data.tags %}
        {% for area in site.data.tags.research-areas %}
                <div class="area {{ area.tag }}">
                    <label for="{{ area.tag }}">
                        <input type="checkbox" class="filter" id="{{ area.tag }}" checked/>
                        <span>{{ area.name }}</span>
                    </label>
                </div>
                <p class="toggle {{ area.tag }}">Filter by topic v</p>
                <div class="second-level {{ area.tag }}">
                {% for topic in area.topics %}
                    <div>
                        <input type="checkbox" name="{{ area.tag }}" class="filter second" id="{{ topic.tag }}" checked/>
                        <label for="{{ topic.tag }}">{{ topic.name }}</label>
                    </div>
                {% endfor %}
                </div>
        {% endfor %}
        {% endif %}
    </div>
    <button id="submit_filters">Filter</button>
</div>