<footer class="footer">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column has-text-centered">
                <div>
                    <a href="https://www.th-koeln.de/hochschule/impressum_8159.php" class="link">Imprint (German)</a>
                    <span> | </span>
                    <a href="{{ site.baseurl }}/privacy-policy.html" class="link">Privacy Policy</a>
                </div>
            </div>
        </div>
        <div class="content is-small has-text-centered">
            <p class=""><!--Originally Copyright--></p>
        </div>
    </div>
</footer>