<div class="sidebar column is-4-desktop is-12-tablet">
    <!--<p>Test</p>-->
    {% if site.data.navigation %}
    <!--<strong>page url: {{ page.url }}</strong>-->
        {% for item in site.data.navigation %}
        <!--<p>{{ item.name }}</p>
        <p>{{ item.name }}</p>-->
            {% if page.url contains item.link %}
            <h2 class="sidebar-heading">{{ item.name }}</h2>
                {% if page.title == 'News' %}
                    <ul>
                    {% assign years = "" %}
                    {% for post in site.posts %}
                        {% capture post_m_y %}{{ post.date | date: "%b %Y" }}{% endcapture %}
                        {% assign dates = dates | append: post_m_y | append: ',' %}
                    {% endfor %}
                    {% assign dates_arr = dates | split: ',' %}
                    {% assign dates_arr_unique = dates_arr | uniq %}
                    {% for item in dates_arr_unique %}
                        <li><a href="?date={{ item | date: "%m-%Y" }}">{{ item }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    {% if item.dropdown %}
                        <ul>
                        {% for subitem in item.dropdown %}
                            {% if page.url contains subitem.key %} 
                                <li>{{ subitem.name }}</li>
                            {% else %}
                                <li>
                                    <a href="{{ subitem.link }}">{{ subitem.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>