// Test
/*
.navbar.is-primary .navbar-start > .navbar-item, 
.navbar.is-primary .navbar-start .navbar-link, 
.navbar.is-primary .navbar-end > .navbar-item, 
.navbar.is-primary .navbar-end .navbar-link {
    color: #ff0000;
}
*/

#custom-nav {
    justify-content: space-between;
    // Margin momentan so gelöst, statt den Grund, warum das nur auf nicht-Default
    // Seiten so ist, zu finden
    margin: 0px auto;
}

#navMenu {
    flex-grow: 0;
}

.column {
    padding: 1.5rem;
}

@media screen and (min-width: 769px) {
    .sidebar.column.is-4-desktop.is-12-tablet {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .sidebar.column.is-4-desktop.is-12-tablet {
        width: 15%;
    }
}

.sidebar-heading {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    border-bottom: 3px solid #4a4a4a;
}

.sidebar ul {
    float: right;
}

.sidebar ul li {
    margin: 3px 0px;
}

@media screen and (min-width: 769px), print {
    .column.is-12, .column.is-12-tablet {
        flex: 0 1 auto;
        width: 100%;
    }
}

// Temporärer mobile Hero Style, noch zu erproben

@media screen and (min-width: 769px), print {
    .hero.is-medium .hero-body {
        padding: 5rem 1.5rem;
    }
}

@media screen and (max-width: 450px), print {
    .hero.is-medium .hero-body {
        padding: 5rem 1.5rem;
    }
}

// Styles for small devices
@media screen and (max-width: 1024px) {
    // Have all dropdowns be closed initially
    .navbar-item.has-dropdown div.navbar-dropdown {
        display: none;
    }
    // Hide sidebar
    .sidebar {
        display: none;
    }

    .lowerrow {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .emptydiv {
        display: none;
    }

    .lists {
        grid-column-start: 1;
        grid-column-end: 3;
    }    

    // TODO: Show breadcrumb (maybe)
}

#first-heading {
    margin-bottom: 2.5rem
}

.image.small {
    height: 100px;
    width: 100px;
}

.image.profile {
    height: auto;
    width: auto;
    align-self: center;
}

.round {
    border-radius: 50%;
}

.person {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.person>div {
    margin: 0.5rem 1rem;
}

.singleproject {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

// Kein Margin für singleproject wegen enthaltener div

.singleproject * {
    margin-bottom: 1rem;
}

.singleproject .image {
    justify-self: center;
}

.basicinfo {
    //display: flex;
    //flex-direction: column;
}

.lists ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    list-style: disc;
    list-style-position: inside;
}

.singlelist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    list-style: disc;
    list-style-position: inside;
}

.lists ul li{
    margin-right: 1rem;
}

.singlenews {
    margin-bottom: 1.5rem;
}

.newsimage {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.recent-news {
    margin: 2.5rem 0rem;
}

.column.recent {
    padding: 1.5rem 1.5rem;
}

.new-activity {
    max-width: 350px;
    margin: auto;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center
}

.area.ds{
    grid-area: header1;
}

.area.nlp{
    grid-area: header2;
}

.area.ir{
    grid-area: header3;
}

.toggle.ds{
    grid-area: arrow1;
}

.toggle.nlp{
    grid-area: arrow2;
}

.toggle.ir{
    grid-area: arrow3;
}

.second-level.ds{
    grid-area: dropdown1;
}

.second-level.nlp{
    grid-area: dropdown2;
}

.second-level.ir{
    grid-area: dropdown3;
}

.filters {
    display: grid;
    column-gap: 5px;
    //row-gap: 5px;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas:
        "header1 header2 header3"
        "arrow1 arrow2 arrow3"
        "dropdown1 dropdown2 dropdown3";
}

.filter-container {
    display: none;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .filters {
        display: grid;
        row-gap: 5px;
        column-gap: 0px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header1 arrow1"
            "dropdown1 ."
            "header2 arrow2"
            "dropdown2 ."
            "header3 arrow3"
            "dropdown3 .";
    }

    .second-level {
        margin-top: -5px;
    }
}


/*.field {
    display: flex; 
    flex-direction: column;
    //align-items: center;
    flex-grow: 0;   
    flex-shrink: 0;
    flex-basis: 200px;
    margin-right: 2rem;
}
*/

.area {
    background-color: #407f92;
    border-radius: 3px;
    padding: 10px;
    color: white;
    display: flex;
}

.area label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.area label span {
    margin: 0px auto;
    text-align: center;
    align-self: center;
}

.second-level {
    display: none;
    flex-direction: column;
    background-color: #eee;
    padding: 10px;
}

.toggle{
    cursor: pointer;
    text-align: center;
    background-color: #ddd;
    padding: 10px 0px;
}

.toggle:hover {
    color: #6b6b6b;
}

.toggle.main-toggle {
    margin-bottom: 1.5rem;
}

#submit_filters {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 2rem;
    align-self: center;
}

#noresults {
    display:none;
}

.basicinfo {
    grid-area: basic-info;
}

.main-grid .image {
    grid-area: image;
    align-self: center;
}

.contact {
    grid-area: contact
}

.socialmedia {
    grid-area: social-media
}

.projects {
    grid-area: projects
}

.publications {
    grid-area: publications
}

.description {
    grid-area: description;
}

.main-grid {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    grid-template-areas:
            "basic-info image"
            "description image"
            "projects contact"
            "projects social-media"
            "publications publications"
}


@media screen and (max-width: 1024px) {
    .main-grid .image {
        grid-area: image;
        grid-row: 1 / span 1;
        justify-self: end;
    }

    .basicinfo {
        align-self: center;
    }

    .main-grid {
        grid-template-areas:
                "basic-info image"
                "description description"
                "contact contact"
                "social-media social-media"
                "projects projects"
                "publications publications"
    }
}