// Test
/*
.navbar.is-primary .navbar-start > .navbar-item, 
.navbar.is-primary .navbar-start .navbar-link, 
.navbar.is-primary .navbar-end > .navbar-item, 
.navbar.is-primary .navbar-end .navbar-link {
    color: #ff0000;
}
*/

body {
    font-family: "Arial";
}

.hero.is-primary.is-bold {
    background-image: linear-gradient(141deg, #3F6094, #5B4399, #873792);
}

#custom-nav {
    justify-content: space-between;
    // Margin momentan so gelöst, statt den Grund, warum das nur auf nicht-Default
    // Seiten so ist, zu finden
    margin: 0px auto;
}

#navMenu {
    flex-grow: 0;
}

.column {
    padding: 1.5rem;
}

@media screen and (min-width: 1408px) {
    .sidebar.column.is-4-desktop.is-12-tablet {
        max-width: 1500px;
    }
}

.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1500px;
}

@media screen and (min-width: 769px) {
    // To delete. Sidebar is hidden up until a width of 1024, other rules apply then
    .sidebar.column.is-4-desktop.is-12-tablet {
        width: 100%;
    }

    .column.is-10, .column.is-10-tablet {
        flex: none;
        width: 100%;
    }

}

@media screen and (min-width: 1024px) {
    .sidebar.column.is-4-desktop.is-12-tablet {
        width: 15%;
    }

    .column.is-10, .column.is-10-tablet {
        flex: none;
        width: 80%;
    }
}

.sidebar-heading {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    border-bottom: 3px solid #4a4a4a;
}

.sidebar ul {
    float: right;
}

.sidebar ul li {
    margin: 3px 0px;
}

@media screen and (min-width: 769px), print {
    .column.is-12, .column.is-12-tablet {
        flex: 0 1 auto;
        width: 100%;
    }
}

// Temporärer mobile Hero Style, noch zu erproben

@media screen and (min-width: 769px), print {
    .hero.is-medium .hero-body {
        padding: 5rem 1.5rem;
    }
}

@media screen and (max-width: 450px), print {
    .hero.is-medium .hero-body {
        padding: 5rem 1.5rem;
    }
}

// Styles for small devices
@media screen and (max-width: 1024px) {
    // Have all dropdowns be closed initially
    .navbar-item.has-dropdown div.navbar-dropdown {
        display: none;
    }
    // Hide sidebar
    .sidebar {
        display: none;
    }

    .lowerrow {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .emptydiv {
        display: none;
    }

    .lists {
        grid-column-start: 1;
        grid-column-end: 3;
    }    
    
    .description.overview.to-hide {
        display: none;
        margin-left: 1rem;
    }
    // TODO: Show breadcrumb (maybe)
}

#first-heading {
    margin-bottom: 2.5rem
}

.image.small {
    height: 100px;
    width: 100px;
}

.image.profile.detail {
    align-self: center;
    height: auto;
    box-shadow: 5px 5px 10px #bbb;
}

.image.profile.overview {
    align-self: start;
}

.image.center-cropped {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 150px;
    width: 150px;
  }

.round {
    border-radius: 50%;
}

.person {
    margin-bottom: 2.5rem;
    display: grid;
    // Ensure correct display of columns when image is missing. Without specifying a
    // width for the second column, grid sizes will vary if description texts are
    // too short to wrap. In that case, less than the full container width will be
    // used.
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.person>div {
    margin: 0.5rem 1rem;
}

.description.overview {
    display: block;
    margin-left: 1rem;
}

.name_desc {
    grid-area: basicinfo;
}

.image.profile {
    grid-area: image;
}

.description {
    grid-area: description;
}

.contact {
    grid-area: factlist-1;
}

.socialmedia {
    grid-area: factlist-2;
}

.personlink {
    grid-area: link;
}

.person {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-areas:
        "image basicinfo"
        "image description"
        "image factlist-1"
        "image factlist-2"
        ". link";
}

.singleproject {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
}

// Kein Margin für singleproject wegen enthaltener div

.singleproject * {
    margin-bottom: 1rem;
}

.singleproject .image {
    justify-self: center;
}

.basicinfo {
    //display: flex;
    //flex-direction: column;
}

.lists ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    list-style: disc;
    list-style-position: inside;
}

.singlelist{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    list-style: disc;
    list-style-position: inside;
}

.no-icon {
    list-style: none;
}

.lists ul li{
    margin-right: 1rem;
}

.singlenews {
    margin-bottom: 1.5rem;
}

.newsimage {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.recent-news {
    margin: 2.5rem 0rem;
}

.column.recent {
    padding: 1.5rem 1.5rem;
}

.new-activity {
    max-width: 350px;
    margin: auto;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center
}

div.entry-content ul li {
    margin-bottom: 1.5rem;
}

div.entry-content h4 {
    font-weight: bold;
}

/*.area.ds{
    grid-area: header1;
}

.area.nlp{
    grid-area: header2;
}

.area.ir{
    grid-area: header3;
}

.toggle.ds{
    grid-area: arrow1;
}

.toggle.nlp{
    grid-area: arrow2;
}

.toggle.ir{
    grid-area: arrow3;
}

.second-level.ds{
    grid-area: dropdown1;
}

.second-level.nlp{
    grid-area: dropdown2;
}

.second-level.ir{
    grid-area: dropdown3;
}*/

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-container {
    flex-direction: column;
    display: block;
}

@media screen and (max-width: 1024px) {
    /*.filters {
        display: grid;
        row-gap: 5px;
        column-gap: 0px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header1 arrow1"
            "dropdown1 ."
            "header2 arrow2"
            "dropdown2 ."
            "header3 arrow3"
            "dropdown3 .";
    }*/

    .second-level {
        margin-top: -5px;
    }

    .name_desc {
        grid-area: basicinfo;
    }

    .image.profile {
        grid-area: image;
    }

    .description {
        grid-area: description;
    }

    .contact {
        grid-area: factlist-1;
    }

    .socialmedia {
        grid-area: factlist-2;
    }

    .personlink {
        grid-area: link;
    }

    .person {
        margin-bottom: 2.5rem;
        display: grid;
        grid-template-areas:
            "basicinfo image"
            "description description"
            "factlist-1 factlist-1"
            "factlist-2 factlist-2"
            "link .";
    }

    .projectcontainer {
        grid-area: basicinfo;
    }

    .image.main-logo {
        grid-area: image;
    }

    .lists {
        grid-area: lists;
    }

    .singleproject {
        display: grid;
        grid-template-areas:
            "basicinfo basicinfo"
            "image image"
            "lists lists"
    }
}


/*.field {
    display: flex; 
    flex-direction: column;
    //align-items: center;
    flex-grow: 0;   
    flex-shrink: 0;
    flex-basis: 200px;
    margin-right: 2rem;
}
*/

.area {
    flex-basis: calc(33.3333% - 20px);
    margin: 0px 10px;
    background-color: #407f92;
    border-radius: 3px;
    padding: 10px;
    color: white;
    display: flex;
}

.area label {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.area label span {
    margin: 0px auto;
    text-align: center;
    align-self: center;
}

.second-level {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #eee;
    padding: 10px;
    margin: 0px 10px;
}

.second-level div.tagcontainer {
    flex-basis: 15%;
    margin: 5px 5px;
}

.toggle{
    cursor: pointer;
    text-align: center;
    background-color: #ddd;
    padding: 10px 0px;
    padding: 10px 20px;
    margin-left: 10px;
}

.toggle:hover {
    color: #6b6b6b;
    background-color: #eee;
}

.toggle.main-toggle {
    margin-bottom: 1.5rem;
    display: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 10px;
    margin-bottom: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 6px;
    margin-bottom: 1px;
}

#submit_filters {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 2rem;
    align-self: center;
}

#noresults {
    display: none;
}

.basicinfo {
    grid-area: basic-info;
}

.main-grid .image {
    grid-area: image;
    align-self: center;
}

.image.main-logo {
    max-width: 250px;
}

.factlist-1 {
    grid-area: factlist-1
}

.factlist-2 {
    grid-area: factlist-2
}

.content-1 {
    grid-area: content-1
}

.content-2 {
    grid-area: content-2
}

.description {
    grid-area: description;
}

.factlist-1 {
    font-size: 0.8em;
    max-width: 250px;
}

/*.main-grid {
    display: grid;
    grid-template-columns: 4fr auto;
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    grid-template-areas:
            "basic-info image"
            "description factlist-1"
            "factlist-2 factlist-2"
            "content-1 content-1"
            "content-2 content-2"
}
*/

.column div {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .main-grid .image {
        grid-area: image;
        grid-row: 1 / span 1;
        justify-self: end;
    }

    .basicinfo {
        align-self: center;
    }

    .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "basic-info image"
                "description description"
                "factlist-1 factlist-1"
                "factlist-2 factlist-2"
                "content-1 content-1"
                "content-2 content-2"
    }
    
    .toggle.main-toggle {
        display: block;
    }
    
    .filter-container {
        display: none;
    }

    .area {
        flex-basis: 100%;
        margin: 5px 0px;
    }

    .factlist-1 {
        font-size: 1em;
        max-width: 100%;
    }
}

@media screen and (max-width: 1300px) {
    
    .factlist-1 {
        font-size: 1em;
        max-width: 100%;
    }
    
   
}

@media screen and (max-width: 1300px) {
  
    .columns.is-desktop.custom {
        display: block;
    }

}

@media screen and (min-width: 1300px) {
  
    .columns.is-desktop.custom {
        display: flex;
    }

}