---
layout: custom_default
---
{% if page.no_profile == true or page.links.ext-profile != null %}
    <div><p>No local profile found.</p></div>
{% else %}
<!-- First row: Two-column layout on desktop -->
<div class="columns">
    <!-- 1st column: basicinfo + description + project participation -->
    <div class="column content-spaced">
        <div class="basicinfo">
            <h1 class="name title is-5">{% if page.titles %}{{ page.titles }} {% endif %}{{ page.firstname }} {{ page.lastname }}</h1>
            <h3 class="subtitle is-6 position">{{ page.role }}</h3>
        </div>
        <p class="description">{{ content }}</p>
        {%- assign number_found = 0 -%}
        {%- for project in site.projects -%}
            {%- for person in project.people -%}
                {%- if person.name == page.title -%}
                    {%- assign number_found = number_found | plus: 1 -%}
                    {%- if number_found == 1 -%}
                        <div class="content-1">
                            <h2 class="title is-6">Projects</h2>
                            <ul>
                    {%- endif -%}
                    <!-- Theoretical case. Right now, first if will never be true since only external people have
                    worked on external projects up to this point. These persons' profiles are viewed on other websites
                    and do not use this layout. -->
                    {%- if project.externallink != null -%}
                        <li>
                            <a href="{{ project.externallink }}" target="_blank" rel="noopener noreferrer">{{ project.title }} <i class="fas fa-external-link-alt"></i></a>
                        </li>
                    {%- else -%}
                        <li>
                            <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
                        </li>
                    {%- endif -%}
                    {%- break -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
        {%- if number_found > 0 -%}
                </ul>
            </div>
        {%- endif -%}
    </div>
    <!-- 2nd column: profile picture and contact (address, phone nr., social media) -->
    <div class="column is-narrow">
        <!-- Placeholder, if necessary (manually set variable in person's file's front matter) -->
        {% if page.placeholder_img == true %}
            <img class="image center-cropped profile detail" src="../../assets/images/people/placeholder.png"/>
        {% else %}
            <!-- Determining file name -->
            {% assign escaped_fn = page.firstname | replace: "ä", "ae" | replace: "ü", "ue" | replace: "ö", "oe" | replace: "ß", "ss" %}
            {% assign escaped_ln = page.lastname | replace: "ä", "ae" | replace: "ü", "ue" | replace: "ö", "oe" | replace: "ß", "ss" %}
            <img class="image center-cropped profile detail" src="../../assets/images/people/{{ escaped_ln | downcase }}_{{ escaped_fn | downcase }}.jpg"/>
        {% endif %}
        <div class ="factlist-1 person">
            <!-- Contact: -->
            <ul class="fa-ul">
                <li class="street"><i class="fas fa-map-marker-alt"></i>{{ page.contact.address.street }}, {{ page.contact.address.postcode }}</li>
                <li class="phone"><i class="fas fa-phone-alt"></i>{{ page.contact.phone }}</li>
                <li class="mail"><i class="fas fa-at"></i>{{ page.contact.mail }}</li>
            </ul>
        </div>
        <div class="factlist-2 person">
            <!-- Social Media -->
            {% if page.social_media %}
            <ul class="singlelist">
                {% if page.social_media.linkedin %}<li><a href="{{ page.social_media.linkedin }}">LinkedIn</a></li>{% endif %}
                {% if page.social_media.xing %}<li><a href="{{ page.social_media.xing }}">XING</a></li>{% endif %}
                {% if page.social_media.orcid %}<li><a href="{{ page.social_media.orcid }}">ORCID</a></li>{% endif %}
                {% if page.social_media.researchgate %}<li><a href="{{ page.social_media.researchgate }}">ResearchGate</a></li>{% endif %}
                {% if page.social_media.github %}<li><a href="{{ page.social_media.github }}">GitHub</a></li>{% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
<div>
    <div class="content-2 padded">
        <hr/>
        <!-- Only show publications if the publication list exists. If it does not exist
        which happens when a new person entry is added directly on GitHub (without 
        a local build to start the publication list plugin), show_publications
        should manually be set to false to prevent build errors due to the missing include. -->
        <div class="publications">
            <h2 class="title is-6">Publications</h2>
            {% if page.show_publications == false %}
            <p>No publications available.</p>
            {% else %}
                <!-- Include publications. The fitting file name is provided by reading the person's last name 
                    from the front matter and substituting umlauts (same procedure as when publication
                    files are created) -->
                {% assign ln_downcase = page.lastname | downcase %}
                {% if ln_downcase contains "ö" %}
                    {% assign ln_downcase = ln_downcase | replace: "ö", "oe" %}
                {% endif %}
                {% if ln_downcase contains "ä" %}
                    {% assign ln_downcase = ln_downcase | replace: "ä", "ae" %}
                {% endif %}
                {% if ln_downcase contains "ü" %}
                    {% assign ln_downcase = ln_downcase | replace: "ü", "ue" %}
                {% endif %}
                {% if ln_downcase contains "ß" %}
                    {% assign ln_downcase = ln_downcase | replace: "ß", "ss" %}
                {% endif %}
                {% include publications/{{ ln_downcase }}.html %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}