---
layout: custom_default
---
<div class="main-grid">
    <div class="basicinfo">
        <h2 class="name title is-5">{{ page.name }}</h1>
        <h3 class="position title is-6">{{ page.position }}</h3>
    </div>
    <p class="description">{{ page.description }}</p>
        <img class="image round" src="../../assets/images/testimage.png"/>
        <div class ="contact">
            <p>Contact:</p>
            <ul class="singlelist">
                <li>{{ page.contact.address }}</li>
                <li>{{ page.contact.phone }}</li>
                <li>{{ page.contact.fax }}</li>
                <li>{{ page.contact.mail }}</li>
            </ul>
        </div>
        <div class="socialmedia">
            <p>Social Media:</p> 
            <ul class="singlelist">
                <li>{{ page.social_media.linkedin }}</li>
                <li>{{ page.social_media.twitter }}</li>
                <li>{{ page.social_media.researchgate }}</li>
            </ul>
        </div>
        <div class="projects">
            <h2 class="title is-6">Projects</h2>
            <ul>
                <li>...</li>
            </ul>
        </div>
        <div class="publications">
            <h2 class="title is-6">Publications</h2>
            <ul>
                <li>...</li>
            </ul>
        </div>
</div>